bin/
obj/
*.py
*.html
*.txt
*.tar
*.tar.gz
*.tar.bz2
*.zip
*.jpg
*.jpeg
*.png
*.ico
*.css
*.json.bak
*.swp
*.bin
.git/
.vs/
.vscode/
publish/
grey_salt_git/
grey_salt_repo/
ExampleStatements/
CTF/
*.md
!README.md
project.json
project.bundle
